root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{vbs,Ink,bat,ps1,cmd}]
end_of_line = crlf

[*ConEmu.xml]
end_of_line = crlf

[cmder/settings]
end_of_line = crlf

[Makefile]
indent_style = tab