[submodule "atom"]
	path = atom
	url = git@github.com:memuller/atom.config.git
[submodule "ohmyzsh/plugins/zsh-autosuggestions"]
	path = ohmyzsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
