[submodule "ohmyzsh/plugins/zsh-autosuggestions"]
	path = ohmyzsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "ohmyzsh/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "ohmyzsh/themes/spaceship-prompt"]
	path = ohmyzsh/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
