[Desktop Entry]
Name=Debug Chromium
Exec=chromium --remote-debugging-port=9222
# --user-data-dir=?
Icon=chrome
Terminal=false
Type=Application
Categories=Browser;Web;Development
